#!/bin/sh
# Copyright 2024-2025 The Wazo Authors  (see the AUTHORS file)
# SPDX-License-Identifier: GPL-3.0+

case "$1" in
    build)
        ;;

    package)
        mkdir -p ${pkgdir}/etc/wazo-webhookd/conf.d/
        cp etc/wazo-webhookd/conf.d/50-dedicated-exchange.yml ${pkgdir}/etc/wazo-webhookd/conf.d/50-dedicated-exchange.yml
        ;;

    install)
        rabbitmq-plugins enable rabbitmq_management
        rabbitmqadmin --vhost "/" declare exchange name=wazo-webhookd type=headers durable=false
        rabbitmqadmin declare binding source=wazo-headers destination_type=exchange destination=wazo-webhookd routing_key="" \
            arguments="{\"name\": [\"user_voicemail_message_created\", \"call_push_notification\", \"call_cancel_push_notification\", \"chatd_user_room_message_created\", \"user_missed_call\"], \"x-match\": \"all\"}"
        systemctl restart wazo-webhookd.service
        ;;

    uninstall)
        rabbitmqadmin --vhost "/" delete exchange name=wazo-webhookd
        rabbitmq-plugins disable rabbitmq_management
        rm -f /etc/wazo-webhookd/conf.d/50-dedicated-exchange.yml
        systemctl restart wazo-webhookd.service
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
