#!/bin/sh
# Copyright 2024-2025 The Wazo Authors  (see the AUTHORS file)
# SPDX-License-Identifier: GPL-3.0+

case "$1" in
    build)
        ;;

    package)
        mkdir -p ${pkgdir}/etc/wazo-webhookd/conf.d/
        cp etc/wazo-webhookd/conf.d/50-dedicated-exchange.yml ${pkgdir}/etc/wazo-webhookd/conf.d/50-dedicated-exchange.yml
	mkdir -p ${pkgdir}/etc/systemd/system/wazo-webhookd.service.d
        cp etc/systemd/system/wazo-webhookd.service.d/create-dedicated-exchange.conf ${pkgdir}/etc/systemd/system/wazo-webhookd.service.d/create-dedicate-exchange.conf
	mkdir -p ${pkgdir}/usr/bin
        cp create-exchange-webhookd.py ${pkgdir}/usr/bin/wazo-webhookd-dedicated-exchange-create
        cp delete-exchange-webhookd.py ${pkgdir}/usr/bin/wazo-webhookd-dedicated-exchange-delete
        ;;

    install)
	systemctl daemon-reload
        systemctl restart wazo-webhookd.service
        ;;

    uninstall)
	/usr/bin/wazo-webhookd-dedicated-exchange-delete
	rm -f /etc/systemd/system/wazo-webhookd.service.d/create-dedicated-exchange.conf
	systemctl daemon-reload
        rm -f /etc/wazo-webhookd/conf.d/50-dedicated-exchange.yml
        systemctl restart wazo-webhookd.service
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
